<ms-page-header [title]="page_title"></ms-page-header>
<div class="main_div">

  <form>
    <mat-form-field>
      <input type="text" matInput placeholder="Organization Name" name="name" [(ngModel)]="orgData.name">
    </mat-form-field>
  </form>

  <form>
      <mat-form-field>
        <input type="tel" matInput placeholder="Registration of the Organization" name="number" [(ngModel)]="orgData.reg_number">
      </mat-form-field>
  </form>

  <form>
    <mat-form-field>
      <input type="text" matInput placeholder="Contact Person" name="person" [(ngModel)]="orgData.person">
    </mat-form-field>
  </form>

  <form>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="orgData.org_email">
    </mat-form-field>
  </form>

  <form>
    <mat-form-field>
      <input type="tel" matInput placeholder="Mobile" name="mobile" [(ngModel)]="orgData.mobile">
    </mat-form-field>
  </form>

  <form>
    <mat-form-field>
      <input type="text" matInput placeholder="Address" name="address" [(ngModel)]="orgData.address">
    </mat-form-field>
  </form>

  <div class="state">

    <mat-form-field class="state_list">
        <mat-select placeholder="Select State" name="state" [(ngModel)]="orgData.state">
          <mat-option *ngFor="let state of stateList" [value]="state.value">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

  </div>

  <button mat-raised-button class="submit" (click)="submit()">Submit</button>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>
