<ms-page-header *ngIf="userInfo.access != '2'" [title]="'Event Management'" [button]="'Add Event'" (eventClick)="newEvent()"></ms-page-header>


<div class="cms-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- Category Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Event Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.event_name}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category.name}} </mat-cell>
      </ng-container>

      <!-- Organizer Column -->
      <ng-container matColumnDef="organizer">
        <mat-header-cell *matHeaderCellDef> Organizer </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.organization.name}} </mat-cell>
      </ng-container>

      <!-- Place Column -->
      <ng-container matColumnDef="place">
        <mat-header-cell *matHeaderCellDef> Place </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.place}} </mat-cell>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status ? 'Active' : 'Inactive'}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="userInfo.access != '2'" mat-button (click)="edit(element)"><mat-icon>border_color</mat-icon></button>
          <button *ngIf="userInfo.access != '2'" mat-button (click)="duplicate(element)"><mat-icon>control_point_duplicate</mat-icon></button>
          <button *ngIf="userInfo.access != '2'" mat-button (click)="delete(element)"><mat-icon>delete</mat-icon></button>
          <button  *ngIf="userInfo.access == '2'" mat-button (click)="bookEvent(element)"><mat-icon>date_range</mat-icon></button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
  </div>
