<ms-page-header [title]="page_title"></ms-page-header>
<div class="sales-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Organization Names </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Person Column -->
    <ng-container matColumnDef="person">
        <mat-header-cell *matHeaderCellDef> Contact Person </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.person}} </mat-cell>
      </ng-container>

    <!-- Eamil Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.org_email}} </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Mobile Phone Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.state ? 'Active' : 'Inactive'}} </mat-cell>
      </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button (click)="edit(element)"><mat-icon>border_color</mat-icon></button>
        <button mat-button (click)="delete(element)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>
