:host {
  display: block;
  background: #fff url('/assets/img/backgrounds/1.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

mat-horizontal-stepper{
  overflow: visible;
  mat-step{
    overflow: visible;
  }
}

mat-form-field{
  font-size: 15px;
  height: 70px;
  input, mat-select, textarea {
    font-size: 17px;
    margin-top: 5px;
    color: rgba(0, 0, 0, .87);
  }
  mat-datepicker-toggle{
    font-size: 25px;
    position: absolute;
    right: -4px;
    top: 30px;
  }
}

.step-border{
  width: 90%;
  margin: 20px auto;
  display: block;
  min-width: 320px;
  max-width: 1000px;
  box-shadow: 0 0 5px gray;
  padding: 20px 40px;
  margin-top: 3vh;
  overflow-y: scroll;
  @media only screen and (min-width: 601px)  {
    mat-form-field{
      width: 100%;
      padding: 0;
      padding-right: 20px;
    }
  }
  @media only screen and (max-width: 600px)  {
    mat-form-field{
      width: 45%;
      padding: 0;
      padding-right: 20px;
    }
  }
  .step1{
    mat-form-field{
      width: 100%;
    }
  }
  .sub_input{
    width: 100%;
    display: block;
    @media only screen and (max-width: 600px)  {
      .date-range{
        width: 100%;
        display: block;
        float: left;
        mat-form-field{
          width: 45%;
          padding: 0;
          padding-right: 5px;
        }
      }
    }
    @media only screen and (min-width: 600px)  {
      .date-range{
        width: 50%;
        display: block;
        float: right;
        mat-form-field{
          width: 45%;
          padding: 0;
          padding-right: 5px;
        }
      }
    }
  }
  .next_btn {
    width: 150px;
    font-size: 18px;
    margin-top: 30px;
    left: calc(50% - 75px);
    margin-left: 8px;
  }
  .btns{
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 50px;
    margin-top: 25px;
    button{
      width: 25%;
      margin: 0 25px;
    }
  }

  .details-border {
    .details_header {
      display: block;
      p{
        display: inline-block;
      }
      button{
        background: #ff9702;
        width: 25px;
        min-width: 25px;
        border-radius: 5px;
        padding: 0;
        height: 25px;
        line-height: 20px;
        color: #fff;
      }
    }
  }

  .event {
    display: flex;
    padding: 20px 0;
    width: 100%;
    @media only screen and (min-width: 600px) {
      .left-event{
        max-width: 220px;
      }
    }
    @media only screen and (max-width: 600px) {
      .left-event {
        width: 100%;
      }
      .right-event {
        width: 100%;
      }
    }
    .left-event {
      padding-right: 10px;
      p {
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
        font-size: 12px;
      }
      .top-title{
         font-size: 16px;
      }

    }
    .right-event {
      padding-left: 10px;
       .upload_img {
          display: block;
          width: 400px;
          height: 150px;
          border: 2px dashed gray;
          background-size: 100% 100%;
         .mat-icon {
          font-size: 50px;
          text-align: center;
          display: block;
          margin: 0 auto;
          width: 100%;
          color: #00a3c4;
          height: 50px;
          margin-top: 30px;
         }
         p{
          text-align: center;
          font-size: 20px;
          color: #00a3c4;
         }
       }
       input[type="file"] {
         display: none;
       }
       .under-title {
         font-size: 14px;
       }

       .seat_img{
         width: 500px;
         height: 350px;
         .mat-icon {
          margin-top: 125px;
         }
       }
       .ticket_img {
         width: 400px;
         height: 656px;
         .mat-icon {
           margin-top: 60%;
         }
         p{
           margin-top: 20px;
         }
       }

      img {
        width: 400px;
      }
    }
  }
  .time-line{
    display: flex;
    .date__time {
      width: 50%;
      display: flex;
      padding-right: 15px;
      mat-form-field {
        width: 60%;
      }
      w-mat-timepicker {
        margin-top: 23px;
        height: 40px;
        width: 30%;
      }
    }
  }

  .org_details{
    width: 100%;
    display: inline-flex;
    button{
      background: #ff9702;
      margin: 10px 0px;
      width: 40px;
      min-width: 40px;
      padding: 0;
      height: 40px;
      color: #fff;
      margin-top: 20px;
    }
  }

  .selection{
    p{
      font-size: 16px;
    }
    div {
      padding: 0 20px;
    }
  }
}

.cms-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  mat-table {
    max-height: calc(100vh - 250px);
    mat-header-row {
      background: #84cce7;
      mat-header-cell {
        padding: 5px;
        font-size: 16px;
      }
    }
    mat-row {
      mat-cell {
        padding: 5px;
        font-size: 18px;
      }
      button {
        margin: 3px;
        padding: 3px;
        min-width: 30px;
        height: 30px;
        line-height: 20px;
        background: #ff9603;
        color: white;
        width: 30px;
      }
    }
  }
}

#map {
  height: 0%;
  display: none;
}

#searchTextField {
  font-size: 14px;
  text-overflow: ellipsis;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  height: 30px;
  padding-left: 5px;
}

#searchTextField:focus {
  border: 1px solid #4d90fe;
  border-color: #4d90fe;
}











