:host {
  display: block;
  background: #fff url('/assets/img/backgrounds/1.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

mat-horizontal-stepper{
  overflow: visible;
  mat-step{
    overflow: visible;
  }
}

.step-border{
  width: 90%;
  margin: 20px auto;
  display: block;
  min-width: 320px;
  max-width: 1000px;
  box-shadow: 0 0 5px gray;
  padding: 20px;
  margin-top: 3vh;
  @media only screen and (max-width: 600px)  {
    mat-form-field{
      width: 100%;
      padding: 0;
      padding-right: 20px;
    }
  }
  @media only screen and (min-width: 600px)  {
    mat-form-field{
      width: 45%;
      padding: 0;
      padding-right: 20px;
    }
  }
  .step1{
    mat-form-field{
      width: 100%;
    }
  }
  .sub_input{
    width: 100%;
    display: block;
    @media only screen and (max-width: 600px)  {
      .date-range{
        width: 100%;
        display: block;
        float: left;
        mat-form-field{
          width: 45%;
          padding: 0;
          padding-right: 5px;
        }
      }
    }
    @media only screen and (min-width: 600px)  {
      .date-range{
        width: 50%;
        display: block;
        float: right;
        mat-form-field{
          width: 45%;
          padding: 0;
          padding-right: 5px;
        }
      }
    }
  }
  .submit{
    width: 25%;
    background-color: #ff9702;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .btns{
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 50px;
    margin-top: 25px;
    button{
      width: 25%;
      background-color: #ff9702;
      color: #fff;
      margin: 0 12px;
    }
  }

  .details-border {
    .details_header {
      display: block;
      p{
        display: inline-block;
      }
      button{
        background: #ff9702;
        width: 25px;
        min-width: 25px;
        border-radius: 50%;
        padding: 0;
        height: 25px;
        line-height: 20px;
        color: #fff;
      }
    }
  }

  .event {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    @media only screen and (min-width: 600px) {
      .left-event {
        width: 200px;
      }
      .right-event {
        width: calc(100% - 200px);
      }
    }
    @media only screen and (max-width: 600px) {
      .left-event {
        width: 100%;
      }
      .right-event {
        width: 100%;
      }
    }
    .left-event {
      float: left;
      p {
        float: left;
        margin-right: 10px;
      }
      .uploadImg {
        background: #ff9603;
        display: table;
        color: #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        font-size: 20px;
        padding: 0;
        .mat-icon {
          font-size: 25px;
          text-align: center;
          display: block;
          margin: 0px auto;
          line-height: 30px;
        }
      }
      input[type="file"] {
        display: none;
      }
      .under-title {
        font-size: 14px;
      }
    }
    .right-event {
      float: right;
      img {
        width: 100%;
      }
      mat-form-field{
        width: 100%;
        margin-top: -20px;
      }

    }
  }

}


.cms-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  mat-table {
    max-height: calc(100vh - 250px);
    mat-header-row {
      background: #84cce7;
      mat-header-cell {
        padding: 5px;
      }
    }
    mat-row {
      mat-cell {
        padding: 5px;
      }
      button {
        margin: 3px;
        padding: 3px;
        min-width: 30px;
        height: 30px;
        line-height: 20px;
        background: #ff9603;
        color: white;
        width: 30px;
      }
    }
  }
}










