
.mat-dialog-content{
  padding: 0 10px;
  margin: 0 -10px;
}

.date_picker {
  width: 50%;
  display: inline-block;
  mat-form-field {
    width: 48%;
  }
}
.mat-dialog-actions {
  width: 250px;
  margin: 0 auto;
  padding: 0 12px;
  button {
    width: 100px;
    border: 2px solid green;
    width: 100px;
  }
}

.form-contanier{
  padding: 16px;
  display: block !important;
}

@media only screen and (max-width: 520px) {
  .date_picker {
    width: 100%;
  }

  .mat-dialog-actions {
    button {
      margin: 20px 5%;
    }
  }
}

label {
  padding: 10px;
  background: #ff9702;
  display: table;
  color: #fff;
}

input[type="file"] {
  display: none;
}
.img_url{
  width: 100%;
  padding: 10px 5px;
}









