<h1 mat-dialog-title style="text-align: center">Seat Information</h1>
<div mat-dialog-content>
    <form #form="ngForm">
        <div class="form-container">
            <mat-form-field>
                Location
                <input type="text" matInput name="location" [(ngModel)]="data.modalData.location" required>
            </mat-form-field>

            <mat-form-field>
                Ticket Price
                <input type="tel" matInput name="ticket_price" [(ngModel)]="data.modalData.ticket_price" required>
            </mat-form-field>

            <mat-form-field>
               Quantity Ticket
                <input type="tel" matInput name="tickets_number" [(ngModel)]="data.modalData.tickets_number" required>
            </mat-form-field>

            <mat-form-field>
                Payment Type
                <input type="tel" matInput name="type_charge" [(ngModel)]="data.modalData.payment_type" required>
            </mat-form-field>

            <mat-form-field>
                Load Amount (%)
                <input type="tel" matInput name="load_amount" [(ngModel)]="data.modalData.load_amount" required>
            </mat-form-field>

            <mat-form-field>
                Quantity Charge Service
                <input type="text" matInput name="quantity" [(ngModel)]="data.modalData.quantity_service" required>
            </mat-form-field>

            <mat-form-field>
                Discount Type
                <input type="text" matInput name="type_discount" [(ngModel)]="data.modalData.discount_type" required>
            </mat-form-field>
            <mat-form-field>
                Price Discount
                <input type="tel" matInput name="price_percent" [(ngModel)]="data.modalData.discount_price" required>
            </mat-form-field>

            <div class="date_time">
                <mat-form-field>
                    Ticket sales Start
                    <input matInput [matDatepicker]="start" name="start_date" [(ngModel)]="data.modalData.sale_sdate" required>
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                </mat-form-field>
                <w-mat-timepicker class="time" color="primary" [(userTime)]="data.modalData.sale_stime" name="s_time" required></w-mat-timepicker>
            </div>
            <div class="date_time">
                <mat-form-field>
                    Ticket sales End
                    <input matInput [matDatepicker]="end" name="end_date" [(ngModel)]="data.modalData.sale_edate" required>
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                </mat-form-field>
                <w-mat-timepicker class="time" color="primary" [(userTime)]="data.modalData.sale_etime" name="s_time" required></w-mat-timepicker>
            </div>

            <div mat-dialog-actions class="btns">
                <button mat-button (click)="onNoClick()" color="primary">No Thanks</button>
                <button mat-button color="primary" [mat-dialog-close]="data.modalData" [disabled]="!form.valid" cdkFocusInitial>Ok</button>
            </div>


            <!-- <mat-form-field style="width: 49%">
                Seat Category Box
                <mat-select name="state" [(ngModel)]="data.modalData.seat_box">
                    <mat-option *ngFor="let state of boxList" [value]="state.value">
                        {{ state.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
    </form>
</div>


<ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
