<h1 mat-dialog-title style="text-align: center">Add Seat Deatails</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input type="text" matInput placeholder="Location" name="location" [(ngModel)]="data.modalData.location">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput placeholder="Price of Ticket" name="ticket_price" [(ngModel)]="data.modalData.ticket_price">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput placeholder="Number of tickets per location" name="tickets_number" [(ngModel)]="data.modalData.tickets_number">
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Type of charge" name="type_charge" [(ngModel)]="data.modalData.type_charge">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput placeholder="Load Amount (%)" name="load_amount" [(ngModel)]="data.modalData.load_amount">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput placeholder="Quantity Service Charge" name="quantity" [(ngModel)]="data.modalData.quantity">
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Discount Type" name="type_discount" [(ngModel)]="data.modalData.discount">
  </mat-form-field>

  <div class="date_picker">
    <mat-form-field>
      <input matInput [matDatepicker]="start" placeholder="Start Date" [(ngModel)]="data.modalData.start_date">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="end" placeholder="End Date" [(ngModel)]="data.modalData.end_date">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input type="number" matInput placeholder="Price Discount %" name="price_percent" [(ngModel)]="data.modalData.price_percent">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Seat Category Box" name="state" [(ngModel)]="data.modalData.ok_value">
      <mat-option *ngFor="let state of boxList" [value]="state.value">
        {{ state.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

<label id="#bb"> Upload Image
  <input type="file" id="File" (change)="fileEvent($event)" size="60">
</label>

<img class="img_url" [src]="data.modalData.image" alt="">


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.modalData" cdkFocusInitial>Ok</button>
</div>
<ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
