<ms-page-header [title]="page_title"></ms-page-header>
<div class="main-box">

  <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
    <form #form="ngForm">
      <div class="add-box">

        <mat-form-field static>
          <input type="text" matInput placeholder="New Organizer" name="name" [(ngModel)]="userData.name" required>
          <span matPrefix>
            <mat-icon>person</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field static>
          <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="userData.email" required>
          <span matPrefix>
            <mat-icon>email</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input type="text" matInput placeholder="Password" name="password" [(ngModel)]="userData.password" required>
          <span matPrefix>
            <mat-icon>vpn_key</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input type="tel" matInput placeholder="Phone" name="phone" [(ngModel)]="userData.phone">
          <span matPrefix>
            <mat-icon>phonelink_setup</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input type="text" matInput placeholder="Address" name="city" [(ngModel)]="userData.city">
          <span matPrefix>
            <mat-icon>title</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field class="state_list">
          <mat-select placeholder="Select State" name="state" [(ngModel)]="userData.status">
            <mat-option *ngFor="let state of stateList" [value]="state.status">
              {{ state.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" class="submit" [disabled]="!form.valid" (click)="submit()">Submit</button>

      </div>
    </form>

  </div>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>
