<ms-page-header [title]="page_title"></ms-page-header>

<div class="main_div">

  <form class="title">
    <mat-form-field class="title_input">
      <input matInput placeholder="New Category Name" name="cate_name" [(ngModel)]="categoryData.name">
    </mat-form-field>
  </form>


  <div class="state">

    <mat-form-field class="state_list">
        <mat-select placeholder="Select State" name="state" [(ngModel)]="categoryData.state">
          <mat-option *ngFor="let state of stateList" [value]="state.value">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

  </div>


  <button class="submit" mat-raised-button (click)="submit()">Submit</button>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>

</div>
