<ms-page-header [title]="page_title"></ms-page-header>

<div class="main_div">

  <form class="title">
    <mat-form-field class="title_input">
      <input matInput placeholder="New Category Name" [value]="cateData.name">
    </mat-form-field>
  </form>


  <div class="state">

    <mat-form-field class="state_list">
        <mat-select placeholder="Select State">
          <mat-option *ngFor="let state of stateList" [value]="cateData.value">
            {{ state.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

  </div>


  <button class="submit" mat-raised-button>Submit</button>



</div>
