<div class="main-box">

    <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">

      <div class="add-box" >
        <mat-form-field static>
            <input type="text" matInput placeholder="First Name">
            <span matPrefix><mat-icon>person</mat-icon></span>
        </mat-form-field>
        <mat-form-field static>
          <input type="email" matInput placeholder="Email">
          <span matPrefix><mat-icon>email</mat-icon></span>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input type="password" matInput placeholder="Password">
          <span matPrefix><mat-icon>vpn_key</mat-icon></span>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input type="tel" matInput placeholder="Mobile">
          <span matPrefix><mat-icon>phonelink_setup</mat-icon></span>
        </mat-form-field>
        <mat-form-field fxFlex style="margin-bottom: 40px;">
            <input matInput placeholder="City">
            <span matPrefix><mat-icon>cached  </mat-icon></span>
        </mat-form-field>

      <button mat-raised-button class="submit">Submit</button>
      </div>

    </div>

</div>
