@import "../../../styles/_var";

@keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeout {
  0% { opacity:1; }
  100% { opacity:0; }
}


.admin-container {
  height: 100%;
}


@media screen and (max-width: 959px) {

  button.user-button {
    min-width: 72px;
  }
}

@media screen and (min-width: 960px) {
  .mat-drawer-backdrop {
    z-index: 50 !important;
  }
}


.content-container {
  height: 100vh;
  .header{
    position: absolute;
    height: 80px;
    width: 100%;
    color: lightgray;
    display: block;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(180, 180, 180, 0.15);
    padding: 10px 20px;
    .logo{
      background-image: url('../../../assets/img/icons/icon-white.png');
      width: 140px;
      height: 100%;
      background-size: 100% 100%;
      background-color: transparent;
      border: none;
    }
    .login{
      font-size: 18px;
    }
  }
}

.main-container {
  overflow-y: auto;
  overflow-x: hidden;
  // height: calc(100% - #{$height__main-toolbar});
  height: 100%;
  position: relative;
  ms-dashboard {
    width: 100%;
    padding: 0;
  }

}

.header-bar{
  width: 100%;
  height: 100px;
  background-color: #00d7c3;
  box-shadow: 0 0px 5px;
  position: relative;
  z-index: 999;
  display: flex;
  .logo-img{
    width: 150px;
    height: 75px;
    display: block;
    padding: 10px;
  }

}

