  <ms-page-header [title]="page_title"></ms-page-header>
  <div class="sales-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="sales_email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sales_email}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Mobile Phone Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.state ? 'Active' : 'Inactive'}} </mat-cell>
        </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="edit(element)"><mat-icon>border_color</mat-icon></button>
          <button mat-button (click)="delete(element)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
  </div>
