.header{
    width: 100%;
    height: 50px;
    background-color: #ff9702;
    position: relative;
    padding: 10px;
    h2{
      color: #fff;
      margin: 0px;
      float: left;
    }
    button{
      float: right;
      height: 30px;
      border-radius: 5px;
    }
}
