
    <div class="profile">
      <div class="pro_img">
        <img *ngIf="!userInfo.photo"  src="../../../../assets/img/avatars/noavatar.png" alt="">
        <img *ngIf="userInfo.photo" [src]="userInfo.photo" alt="">
        <label id="#bb" class="uploadImg">
          <mat-icon>create</mat-icon>
          <input type="file" id="File" (change)="updatePhoto($event)" size="60">
        </label>
      </div>
      <div class="pro_info">
        <h2>{{userInfo.name}}</h2>
        <mat-list>
          <mat-list-item>
            <p class="title">Email:</p>
            <p class="value">{{userInfo.email}}</p>
          </mat-list-item>

          <mat-list-item>
            <p class="title">Phone:</p>
            <p class="value">{{userInfo.phone}}</p>
          </mat-list-item>

          <mat-list-item>
            <p class="title">City:</p>
            <p class="value">{{userInfo.city}}</p>
          </mat-list-item>

        </mat-list>
      </div>
      <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
    </div>


