
mat-horizontal-stepper{
  min-height: 100%;
  background: #c9c9c9;
}



.booking-container{
  width: 100%;
  max-width: 970px;
  display: block;
  margin: 0 auto;
  height: 100%;
  padding: 5% 0;
  mat-card{
    max-width: 100%;
  }

}

.description{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;

  h2{
    margin: 15px 0;
  }
  .field{
    float: left;
    img{
      width: 80%;
      min-width: 250px;
      margin: 0 auto;
      display: block;
    }
  }
  .date_field{
    width: 350px;
  }
  .location_field{
    width: 600px;
    img{
      width: 100%;
    }
  }

  .about{
    float: left;
    mat-form-field{
      width: 100%;
    }
    .location{
      width: 100%;
      display: inline-block;
      margin-top: 12px;
      img{
        width: 25px;
        margin-bottom: -5px;
      }
      button{
        font-size: 18px;
        color: dodgerblue;
      }
    }
  }

  .date_about {
    width: calc(100% - 350px);
    p{
      color: darkgray;
      width: 100%;
      display: -webkit-inline-box;
      font-size: 16px;
      span{
        width: 120px;
        display: block;
        text-align: center;
        color: #515151;
      }
    }
    .data__table{
      border: none;
      td:nth-child(1){
        text-align: center;
        font-size: 15px;
        color: darkslategray;
      }
      td:nth-child(2){
        font-size: 16px;
        color: black;
      }

    }
  }
  .location_about {
    width: calc(100% - 600px);
    padding: 30px 20px;
    margin-top: 50px;
  }

}

table{
  border: 1px solid gray;
  thead{
    tr{
      background: #0a7dbf;
      th{
        color: #fff;
      }
    }
  }
}

.page__control{
  padding: 20px 0;
}

agm-map {
  height: 300px;
}

// Booking Information

.event_details {
  display: flex;
  align-items: center;
  img{
    width: 500px;
    display: block;
    margin: 0 auto;
    height: 100%;
    margin-right: 50px;
  }
  table{
    width: 100%;
    border: none;
    background: transparent;
    td:nth-child(1){
      font-size: 18px;
      color: #000;
      text-align: center;
      width: 40%;
    }
    td:nth-child(2){
      font-size: 16px;
      color: #3e3e3e;
    }
  }
}

.coupon{
  display: flex;
  width: 100%;
  .discount-coupon{
    width: 50%;
    padding: 20px;
    .apply{
      display: flex;
      width: 100%;
      .coupon_input{
        width: 60%;
        height: 30px;
        font-size: 20px;
        background: #f3f2f2ed;
        display: block;
      }
      button{
        background: green;
        margin-left: 20px;
        height: 35px;
        color: #fff;
      }
    }
  }

  .total_value{
    width: 100%;
    background: #fff;
    thead{
      th {
        background: transparent;
        color: tomato;
        width: 50%;
      }

    }


  }
}


