<div class="dashboard-container" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="bg-app">
        <div class="swiper-config1">
            <swiper [config]="config1" #usefulSwiper>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let item of eventList; let index = index" [ngStyle]="{'background-image': 'url(' + item.event_img + ')'}">
                        <div class="name">{{item.event_name}}</div>
                        <div class="category">{{item.category.name}}</div>
                        <div class="date"><img src="assets/img/icons/calendar.png" alt="">{{item.s_time.hour}}:{{item.s_time.minute}} {{item.s_time.meriden}}, {{item.s_date | date:'dd/MM/yyyy'}} - {{item.e_time.hour}}:{{item.e_time.minute}} {{item.e_time.meriden}}, {{item.e_date | date:'dd/MM/yyyy'}}</div>
                        <div class="location"><img src="assets/img/icons/location.png" alt="">{{item.place}}</div>
                        <div class="share_btns">
                            <button class="left_btn" mat-button (click)="openBookingDialog(item)">Book Now</button>
                            <button class="right_btn" mat-button (click)="openDescriptionDialog(item)">Description</button>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </swiper>
        </div>
    </div>

    <div class="main-content">
        <div class="event-sec">
            <h2>About The Ticket App</h2>
            <div class="des">
                <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos himenaeos. Mauris in erat justo. Morbi accumsan ipsum velit.Class aptent taciti sociosqu ad litora torquent
                per conubia nostra, per inceptos himenaeos.mauris vitae erat consequat auctor eu in elit.</p>

                <div class="category" *ngFor="let item of categoryData">
                    <mat-icon [ngStyle]="{'color': item.color}">{{item.icon}}</mat-icon>
                    <h4>{{item.name}}</h4>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>

        <div class="event-sec">
            <h2>Categories</h2>
            <mat-tab-group class="tab-bg">

                <mat-tab label="All">
                    <div class="category__tab" *ngFor="let item of eventList">
                        <div class="bg__img">
                            <img [src]="item.event_img" alt="">
                            <p><span>by </span>{{item.organization.name}}</p>
                        </div>
                        <div class="head">
                            <h3>{{item.event_name}}</h3>
                            <p>{{item.category.name}}</p>
                            <div class="info"><img src="assets/img/icons/calendar.png" alt="">{{item.s_date | date:'dd/MM/yyyy'}} - {{item.e_date | date:'dd/MM/yyyy'}}</div>
                            <div class="info"><img src="assets/img/icons/location.png" alt="">{{item.place}}
                            </div>
                        </div>
                        <div class="pro_info">
                            <p>{{item.event_info}}</p>
                        </div>
                        <div class="actions">
                            <div class="active" [ngStyle]="{'background-color':item.status? '#39a905' : '#f74984' }">{{item.status ? 'Active' : 'Inactive'}}</div>
                            <button mat-button style="background: #5e73e4">Description</button>
                            <button mat-button style="background: #f74984" [disabled]="!item.status">Booking</button>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab *ngFor="let category of categoryList" [label]="category.name" style="padding: 10px;">
                    <div *ngFor="let item of eventList">
                        <div class="category__tab" *ngIf="item.category_id == category._id">
                            <div class="bg__img">
                                <img [src]="item.event_img" alt="">
                                <p><span>by </span>{{item.organization.name}}</p>
                            </div>
                            <div class="head">
                                <h3>{{item.event_name}}</h3>
                                <p>{{item.category.name}}</p>
                                <div class="info"><img src="assets/img/icons/calendar.png" alt=""> {{item.s_date | date:'dd/MM/yyyy'}} - {{item.e_date | date:'dd/MM/yyyy'}} </div>
                                <div class="info"><img src="assets/img/icons/location.png" alt=""> {{item.place}}</div>
                            </div>
                            <div class="pro_info">
                                <p>{{item.event_info}}</p>
                            </div>
                            <div class="actions">
                                <div class="active" [ngStyle]="{'background-color':item.status? '#39a905' : '#f74984' }">{{item.status ? 'Active' : 'Inactive'}}</div>
                                <button mat-button style="background: #5e73e4">Description</button>
                                <button mat-button style="background: #f74984">Booking</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>

        <div class="event-sec">
            <h2>Schedule</h2>
            <mat-tab-group class="tab-bg">
                <mat-tab label="TODAY" class="sch-table">
                    <div class="timeline-wrap  overflow-hide mb-30">
                        <ul class="timeline">
                            <li *ngFor="let item of eventList; let index = index;" [ngClass]="{'timeline-inverted': index%2 == 1}">
                                <div class="timeline-badge">
                                    <!-- <i class="zmdi zmdi-case font-indigo"></i> -->
                                    <img [src]="item.event_img" alt="">
                                </div>
                                <div class="timeline-panel mdl-card pt-30 pb-30 border-top-indigo" [ngClass]="{'border-top-pink': index%2 == 1}">
                                    <div class="timeline-heading">
                                        <h4 class="mb-10">{{item.event_name}}</h4>
                                        <!-- <span class="duration mb-5">9:30am - 11:30am</span> -->
                                        <span class="duration mb-5">{{item.s_date | date:'dd/MM/yyyy'}} - {{item.e_date | date:'dd/MM/yyyy'}}</span>
                                        <span class="institution">{{item.category.name}}</span>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="mt-15">{{item.event_info}}</p>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix no-float"></li>
                        </ul>
                    </div>
                </mat-tab>

                <mat-tab label="TOMORROW">Tomorrow</mat-tab>

                <mat-tab label="THIS WEEK">This Week</mat-tab>

                <mat-tab label="THIS MONTH">This Month</mat-tab>

                <mat-tab label="ALL">
                    <div class="timeline-wrap  overflow-hide mb-30">
                        <ul class="timeline">
                            <li *ngFor="let item of eventList; let index = index;" [ngClass]="{'timeline-inverted': index%2 == 1}">
                                <div class="timeline-badge">
                                    <!-- <i class="zmdi zmdi-case font-indigo"></i> -->
                                    <img [src]="item.event_img" alt="">
                                </div>
                                <div class="timeline-panel mdl-card pt-30 pb-30 border-top-indigo" [ngClass]="{'border-top-pink': index%2 == 1}">
                                    <div class="timeline-heading">
                                        <h4 class="mb-10">{{item.event_name}}</h4>
                                        <!-- <span class="duration mb-5">9:30am - 11:30am</span> -->
                                        <span class="duration mb-5">{{item.s_date | date:'dd/MM/yyyy'}} - {{item.e_date | date:'dd/MM/yyyy'}}</span>
                                        <span class="institution">{{item.category.name}}</span>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="mt-15">{{item.event_info}}</p>
                                    </div>
                                </div>
                            </li>

                            <li class="clearfix no-float"></li>
                        </ul>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>

        <!-- Contact and Venue -->
        <div class="event-sec">
            <h2>Contact Venue</h2>
            <div class="contact_venue">
                <div class="contact">
                    <h3>Hi There, Happy hear form you</h3>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input type="text" matInput placeholder="Name" value="">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input type="email" matInput placeholder="Email" value="">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Message"></textarea>
                        </mat-form-field>

                        <button mat-button class="submit">SUBMIT</button>

                    </form>
                </div>
                <div class="venue">
                    <ms-google-maps-widget height="400px"></ms-google-maps-widget>
                </div>
            </div>
        </div>

    </div>



    <!--  -->
    <div class="footer-end">
        <p class="title">Thank You For Visting.</p>
        <p class="sub_title">Compose Ticket Application</p>
        <img src="../../../assets/img/icons/icon-white.png" alt="">
    </div>


    <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>
