@import "../../../styles/_var.scss";
:host {
  display: block;
}
.dashboard-container {
  position: relative;
  .header {
    min-height: 220px;
    background: linear-gradient(60deg, #2196F3, #3F51B5);
  }
}
.margin-top {
  margin-top: 12px;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .margin-top-md {
    margin-top: 12px;
  }
}
@media screen and (max-width: 959px) {
  .margin-bottom-sm {
    margin-bottom: 12px;
  }
}
$height__main-toolbar__plus_8px: $height__main-toolbar+8px;
:host {
  display: block;
  // padding: 36px;
  height: calc(100% - #{$height__main-toolbar__plus_8px});
  background-size: cover;
}



mat-form-field {
  margin: 8px 0;
}

.bg-app{

  .swiper-config1 {
    height: 600px;
    width: 100%;
    background-image: url('../../../assets/img/backgrounds/bg.jpeg');

    background-size: cover;
    background-position: center;
    swiper {
      top: 170px;
      position: relative;
      height: 350px;
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      // background-position: center;
      background-size: 100% 100%;
      width: 500px;
      height: 300px;
      margin-top: 15px;
      border: 1px solid #04e75a;

      .name {
        margin: 30px 0 0px 0;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        color: #dcbfc2;
      }
      .category{
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        color: #01ba1c;
      }
      .date {
        text-align: center;
        font-size: 18px;
        color: #01b0ff;
        img {
          width: 18px;
          height: 18px;
          margin-bottom: -2px;
          margin-right: 2px;
        }
      }
      .location {
        text-align: center;
        font-size: 18px;
        color: #ffa201;
        img {
          width: 18px;
          height: 18px;
          margin-bottom: -2px;
          margin-right: 2px;
        }
      }
      .share_btns {
        height: 80px;
        width: 250px;
        margin: 0 auto;
        margin-top: 20px;
        button {
          margin: 10px 10px;
          font-size: 15px;
          padding: 3px 10px;
          width: 100px;
          color: white;
        }
        .left_btn {
          background-color: #e91e63;
          float: left;
        }
        .right_btn {
          background-color: #3f51b5;
          float: right;
        }
      }
    }
  }
}




.event-sec{
  width: 100%;
  h2{
    color:lightgray;
  }
  h4{
    color: #fff;
  }
  p{
    color: darkgray;
  }
  .des{
    background: darkslategrey;
    padding: 25px 15px;
    display: block;
    .category{
      mat-icon{
        font-size: 30px;
      }
      h4{
        margin-top: 15px;
        text-transform: uppercase;
      }
    }
    @media screen and (min-width: 992px){
      .category{
        width: 24%;
        display: inline-block;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .category{
        width: 49%;
        display: inline-block;
      }
    }

    @media screen and (max-width: 767px) {
      .category{
        width: 100%;
        display: inline-block;
      }
    }
  }

}

.category__tab{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 5px;
  width: 99%;
  box-shadow: 1px 1px 7px;
  .bg__img{
    width: 260px;
    img{
      width: 90%;
      margin: 0 auto;
      display: block;
    }
    h3,p {
      margin: 5px;
      color: #000;
      text-align: center;
      span {
        color: dimgray;
      }
    }
  }
  .head{
    width: 300px;
    h3, p{
      margin: 5px;
      color: #000;
    }
    .info{
      img{
        width: 18px;
        margin-bottom: -4px;
      }
      font-size: 14px;
      margin-bottom: 4px;
      color: #393939;
    }
  }
  .pro_info{
    width: 300px;
    p{
      color: #393939;
      height: 120px;
      overflow-y: scroll;
    }
  }
  .actions{
    padding: 0 15px;
    .active{
     width: 80px;
     font-size: 16px;
     background-color: #39a905;
     border-radius: 15px;
     text-align: center;
     color: white;
     margin: 0 auto;
     margin-bottom: 5px;
    }
    button{
      width: 120px;
      margin: 0 auto;
      display: block;
      color: white;
      margin: 5px;
    }
  }
}

.swiper-config{
    height: 360px;
    width: 100%;
    background-size: cover;
    border: 1px solid gray;
    padding: 10px 0;
    background-color: #454545;

  swiper {
    position: relative;
    height: 340px;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img{
      width: 100%;
      height: 100%;
    }
    p{
      line-height: 20px;
      margin: 0;
      margin: 5px;
      font-size: 18px;
      color: white;
    }
  }
}









