<ms-page-header [title]="page_title"></ms-page-header>
<div class="sales-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- First Name Column -->
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef>  Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status ? 'Active' : 'Inactive'}} </mat-cell>
      </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- <button mat-button><mat-icon>border_color</mat-icon></button> -->
        <button mat-button (click)="deleteUser(element._id)"><mat-icon>delete</mat-icon> Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>
