<ms-page-header [title]="page_title"></ms-page-header>

<div class="main_div">
  <form>
    <mat-form-field>
      <input type="text" matInput placeholder="Title" [(ngModel)]="cmsData.title">
    </mat-form-field>
  </form>

  <div class="description">
    <p>Description</p>
    <quill-editor [(ngModel)]="cmsData.description"></quill-editor>
  </div>

  <div class="state">
    <mat-form-field class="state_list">
      <mat-select placeholder="Select State" [(ngModel)]="cmsData.state">
        <mat-option *ngFor="let state of stateList" [value]="state.id">
          {{ state.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button class="submit" (click)="submit()">Submit</button>

</div>

