

<h1 mat-dialog-title style="text-align: center;">Event Date</h1>
<div mat-dialog-content>

  <form #form="ngForm">
    <div fxLayout="column" class="event_date">
      <mat-form-field>
          <input matInput name="text" placeholder="Title" [(ngModel)]="data.title" required>
      </mat-form-field>
    </div>
    <div class="right-event">
      <label id="#bb" class="upload_img seat_img" *ngIf="!data.url">
        <mat-icon>add</mat-icon>
        <p>Add Stage Map Image</p>
        <p style="font-size: 14px;">(Image size must be 800 x 533)</p>
        <input type="file" id="File" (change)="setImage($event)" size="60">
      </label>
      <label id="#bb" class="upload_img seat_img" *ngIf="data.url" [ngStyle]="{'background-image': 'url(' + data.url + ')'}">
        <input type="file" id="File" (change)="setImage($event)" size="60">
      </label>
    </div>
  </form>

</div>
<div mat-dialog-actions class="btns">
    <button mat-button (click)="onNoClick()" color="primary">No Thanks</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="!form.valid || !data.url" cdkFocusInitial>Ok</button>
</div>
<ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>

