<ms-page-header [title]="page_title"></ms-page-header>
<div class="main_div">

  <form class="title" #form="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Promotional code" name="pro_code" [(ngModel)]="couponData.pro_code" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description" name="description" [(ngModel)]="couponData.description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Discount (%)" name="discount" [(ngModel)]="couponData.discount" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Valid Until" name="valid_date" [(ngModel)]="couponData.valid_date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="state">
      <mat-form-field class="state_list">
          <mat-select placeholder="Select State" name="state" [(ngModel)]="couponData.state" required>
            <mat-option *ngFor="let state of stateList" [value]="state.value">
              {{ state.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </form>

  <button mat-raised-button class="submit" color="primary" (click)="submit()" [disabled]="!form.valid">Add Coupon</button>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>
