<div fxLayout="column" fxLayoutAlign="center stretch">

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">

    <!-- <div fxLayout="column" fxLayout.gt-md="row" fxFlex="100%" fxFlex.gt-sm>
      <ms-widget-v1 [data]="widget1Data" [options]="widget1Options" fxFlex="100%" fxFlex.gt-sm></ms-widget-v1>

      <ms-widget-v1 [data]="widget2Data" [options]="widget2Options" fxFlex="100%" fxFlex.gt-sm></ms-widget-v1>

    </div> -->

    <!-- <div fxLayout="column" fxLayout.gt-md="row" fxFlex="100%" fxFlex.gt-sm>
      <ms-widget-v1 [data]="widget3Data" [options]="widget3Options" fxFlex="100%" fxFlex.gt-sm></ms-widget-v1>

      <ms-widget-v1 [data]="widget4Data" [options]="widget4Options" fxFlex="100%" fxFlex.gt-sm></ms-widget-v1>
    </div> -->

  </div>

  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center stretch">
    <ms-line-chart-widget fxFlex="70%" [data]="lineChartWidgetData" [options]="lineChartWidgetOptions"></ms-line-chart-widget>
    <ms-source-overview-widget fxFlex="30%" fxLayout="column" fxLayout.gt-md="row" [chartDataArray]="sourceOverviewWidgetData" [options]="sourceOverviewWidgetOptions"></ms-source-overview-widget>
  </div>

</div>
