<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%vh">
  <div class="register mat-elevation-z12">
    <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icons/icon-white.png">
    </div>
    <form #form="ngForm" (ngSubmit)="register()">
      <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">

        <mat-form-field>
          <input matInput placeholder="Name" type="text" name="name" [(ngModel)]="resData.name" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="E-Mail" type="email" name="email" [(ngModel)]="resData.email" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="resData.password" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password (Confirm)" type="password" name="password-confirm" [(ngModel)]="passwordConfirm" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select Access" [(ngModel)]="resData.access" name="access" required>
            <mat-option *ngFor="let access of accessList" [value]="access.level">
              {{ access.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Cell Phone" type="tel" name="phone" [(ngModel)]="resData.phone">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="City" type="text" name="city" [(ngModel)]="resData.city">
        </mat-form-field>

        <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
          <mat-checkbox class="remember-me">I accept the <a href="#">terms and conditions.</a></mat-checkbox>
        </div>

        <button color="primary" mat-raised-button [disabled]="!form.valid">Register</button>

        <p class="note">Already have an account?<br/> <a [routerLink]="['/login']">Sign in here</a></p>

        <button class="social_btn" mat-raised-button><img src="assets/img/icons/fb_icon.png" alt=""> Log in with Facebook</button>

        <button class="social_btn google" mat-raised-button><img src="assets/img/icons/gmail_icon.png" alt="">Sign in with Google+</button>
      </div>
    </form>
  </div>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>
